<?php

return array(
    // site settings
    'env'               => 'dev',   // (prod|dev|test)
    'locale'            => 'en',    // (en|fr)

    'mailer' => array(              // default config for a gmail SMTP use
        'host'      =>  'smtp.gmail.com',
        'port'      =>  465,
        'username'  =>  'username@gmail.com',
        'password'  =>  'password',
        'encryption'=>  'ssl',
        'auth_mode' =>  null,
    ),

    // database settings
    'db' => array(
        'prod' => array(
            'driver'    => 'pdo_mysql',
            'dbname'    => 'employness_prod',
            'host'      => 'localhost',
            'user'      => 'root',
            'password'  => 'root',
        ),
        'dev' => array(
            'driver'    => 'pdo_mysql',
            'dbname'    => 'employness_prod',
            'host'      => 'localhost',
            'user'      => 'root',
            'password'  => 'root',
        ),
        'test' => array(
            'driver'    => 'pdo_mysql',
            'dbname'    => 'employness_prod',
            'host'      => 'localhost',
            'user'      => 'root',
            'password'  => 'root',
        ),
    ),
);