{% extends "Default/layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'rate_your_day' | trans }}{% endblock %}

{% block maincontent %}
    <form method="POST" class="well">
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-info" value="{{ 'rate' | trans }}" />
    </form>
{% endblock %}